- resource - одна из 3х площадок: hh, indeed, linkedin

- country.city - может быть пустое

- vacancy.description - может быть пустое
- vacancy.workExp - может быть пустое
- vacancy.wage - если в вакансии указан диапазон, ту указывать в соответствии с ним.
	Если указана минимальная зарплата - заполняется min, max - пустой.
	Если указана максимальная зарплата - заполняется max, min - пусто.

- skills.[extra, key] - могут не содержать значений

- responsibilities - может не содержать значений