- resource - одна из 3х площадок: hh, indeed, linkedin

- country.city - может быть пустое

- experience: Если не требуется, то 0

- vacancy.description - может быть пустое
- vacancy.workExp - может быть пустое
- vacancy.salary - если в вакансии указан диапазон, ту указывать в соответствии с ним.
	Если указана минимальная зарплата - заполняется min, max - пустой.
	Если указана максимальная зарплата - заполняется max, min - пусто.
	Если просто число - заполняется max
	Если не указана - min и max - пустые

- skills.[extra, key] - могут не содержать значений

- responsibilities - может не содержать значений
